.card {
  width: 18rem;
  margin: 10px;
}

.card-img-top {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  color:aliceblue;
  background-color: gray;
}
.card-display {
  display: none;
}
